.wp-block-scrobbble-now-playing {
	align-items: center;
	border: 1px #ccc solid;
	background: rgba(238, 238, 238, 0.9);
	display: flex;
	gap: 1.25rem;
	justify-content: space-between;
	font-size: 75%;
	padding: 1.125rem 1.25rem;
}

.wp-block-scrobbble-now-playing > div > small {
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.0625rem;
	margin-block: 0.125rem 0.25rem;
}
